@charset "UTF-8";

*,
::before,
::after {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	color: #1a1a1a;
	font-family: 'Heletica Neue', sans-serif;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.header {
	padding: 3rem 0;

	&__title {
		font-size: 3.2rem;
		text-align: center;
		color: #00247d;
	}

	&__description {
		color: #666;
		text-align: center;
	}
}

.filters {
	// border: .1rem solid rgba(0, 36, 125, 0.15);
	padding: 3.2rem;
	border-radius: 1.2rem;

	&__title {
		font-size: 1.8rem;
		color: #cf142b;
		letter-spacing: 0.15rem;
		text-transform: uppercase;
	}

	&__btn {
		display: block;
		width: 100%;
		padding: 1.2rem 0;
		font-size: 1.8rem;
		border-radius: .5rem;
		border: none;
		color: #fff;
		background-color: #cf142b;
		margin: 3.6rem 0 0 0;

		&:hover {
			background-color: #e01538;
		}
	}
}

.filter {
	&__form-item {
		padding: 2.4rem 0 0 0;
	}

	&__genre {
		&-label {
			display: block;
			color: #444;
			font-weight: bold;
			padding: 0 0 .8rem 0;
		}

		&-select {
			display: block;
			width: 100%;
			border-radius: .5rem;
			font-size: 1.6rem;
			border: 0.1rem solid rgba(0, 36, 125, 0.3);
			padding: 1rem 1.2rem;
		}
	}

	&__era {
		&-label {
			display: block;
			color: #444;
			font-weight: bold;
			padding: 0 0 .8rem 0;
		}

		&-select {
			display: block;
			width: 100%;
			border: .1rem solid rgba(0, 36, 125, 0.3);
			padding: 1rem 1.2rem;
			border-radius: .5rem;
			font-size: 1.6rem;
		}
	}
}
